<mat-toolbar>
    
    <div fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
        <a routerLink="/"><img src="assets/logo.png" class="logo"></a>
        <a class="company-name" routerLink="/">Tail Waggers</a>
    </div>
    <div fxFlex fxLayoutAlign="end" fxLayoutGap="12px">
        <button mat-icon-button (click)="openOrders()"><mat-icon class="cart-icon">list_alt_check</mat-icon></button>
        <button mat-icon-button (click)="openCart()"><mat-icon class="cart-icon">shopping_cart</mat-icon></button>
        <button mat-raised-button routerLink="/browse" class="shopping-button">Browse</button>
        <button mat-raised-button color="primary" class="login-button" routerLink="/login" *ngIf="userService.getCurrentUserId() == 0">Login</button>
        <button mat-raised-button color="primary" class="profile-button" (click)="openProfile(this.userService.getCurrentUserId())" *ngIf="userService.getCurrentUserId() != 0">Profile</button>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>
<div class="chatbot-container">
  <!-- Toggle Button -->
  <button class="chat-toggle" (click)="toggleChat()" *ngIf="!isChatVisible">
    💬
  </button>

  <!-- Chatbox -->
  <div *ngIf="isChatVisible" class="chatbox">
    <div class="chat-header">
      <strong>Scooby Chat Bot</strong>
      <button class="close-button" (click)="toggleChat()">×</button>
    </div>
    <div class="chat-body" #chatBody>
      <div *ngFor="let message of messages" class="message">
        <div *ngIf="message.type === 'user'" class="user-message">
          <span class="user-badge">{{ message.text }}</span>
        </div>
        <div *ngIf="message.type === 'bot'" class="bot-message">
          <span class="bot-badge" [innerHTML]="message.text"></span>
        </div>
      </div>
    </div>
    <div class="chat-footer">
      <input type="text" class="input-box" [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..."/>
    </div>
  </div>
</div>
